#header-main{
	width: 100%;
	height:430px ;
}



.header-ding{
	width: 100%;
	height: 60px;
	background: url(../img/blacktop-spr.png) repeat 0 0;
	position: relative;
}
.header-one-one{
	width: 100px;
	height: 35px;
	background: url(../img/blacktop-spr.png) no-repeat 0 -140px;
	position: absolute;
	top: 10px;
	left: 20px;
}
.header-ding>li{
	color: white;
	font-size: 12px;
	position: absolute;
	top: 20px;
	right: 300px;
	cursor: pointer;
}
.header-ding>ul>li{
	float: left;
	font-size: 16px;
	text-align: center;
	line-height: 25px;
	width: 80px;
	height: 25px;
	border: 2px solid #3ED2B2;
	margin: 12px 10px;
	border-radius: 10px;
}
.header-ding>ul{
	position: absolute;
	right: 50px;
}
.header-ding>ul a{
	color: white;
}







.header {
	width: 100%;
	height: 370px;
	background: url(../images/bg20170524.jpg) no-repeat 50% 0;
	position: relative;
	/*border: 1px solid red;*/
}
.header .header-one{
	width: 195px;
	height: 70px;
	background: url(../images/nav-copy.png) no-repeat 0 0;
	position: absolute;
	top: 40px;
	left: 10px;
}
.header .header-two{
	width: 418px;
	height: 116px;
	background: url(../images/slogn-home.png) no-repeat 0 0;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.header>ul{
	position: absolute;
	top: 50px;
	right: 45px;
}
.header>ul>li{
	float: left;
	width: 65px;
	height: 30px;
	background: url(../images/nav-copy.png) no-repeat 0 -168px;
	padding: 0 20px;
	position: relative;
	cursor: pointer;
}
.header>ul>.aa{
	background-position: -114px -168px;
}
.header>ul>.bb{
	background-position: -228px -168px;
}
.header>ul>.cc{
	background-position: -344px -168px;
}
.header>ul>.dd{
	background-position: -458px -168px;
}
.header>ul>.ee{
	background-position: -575px -168px;
}
.header>ul>.ff{
	background-position: -690px -168px;
}
.header>ul>.gg{
	background-position: -803px -168px;
}
.header>ul>.hh{
	background-position: -919px -168px;
}
.header .ii a{
	font-size: 13px;
	color: #414449;
}
.header .ii a:hover{
	color: #3ED2B2;
}
.header .ii{
	position: absolute;
	top: 40px;
	left: 3px;
}
