	/*头部*/
	
	.header {
		width: 100%;
		height: 1125px;
		background: url(../images/super_0629.jpg) no-repeat center;
		position: relative;
	}
	/*右侧固定导航*/
	
	.header .nav ol {
		width: 130px;
		height: 50px;
		text-align: center;
		color: white;
		background: #3ED2B2;
	}
	
	.header .nav .ma {
		width: 130px;
		height: 130px;
		background: url(../images/wuxia-app-for-android.png) no-repeat 0 0;
		background-size: 100% 100%;
	}
	
	.header .nav li {
		text-align: center;
		font-size: 15px;
		line-height: 30px;
		width: 126px;
		height: 35px;
		border: 0.1px solid #707D8F;
		background: #282A29;
	}
	
	.header .nav>.aa {
		border: 0;
		background: #3ED2B2;
	}
	
	.header .nav>.bb {
		border: 0;
		background: #CFAE69;
	}
	
	.header .nav>.cc {
		width: 46px;
		height: 46px;
		background: url(../images/jingling/spr-c.png) no-repeat 0 -229px;
		border: 0 none;
		cursor: pointer;
		position: relative;
		left: 30%;
		z-index: 10;
	}
	
	.header .nav li:hover {
		background: #707D8F;
	}
	
	.header .nav a {
		color: white;
	}
	
	.header .nav {
		z-index: 8;
		position: fixed;
		top: 80px;
		right: 30px;
	}
	/*右侧导航栏结束*/
	/*轮播图-1*/
	
	.header .section {
		width: 312px;
		height: 280px;
		position: relative;
		top: 640px;
		overflow: hidden;
	}
	
	.header .section .see {
		height: 280px;
		width: 1560px;
		position: absolute;
		/*left: 0;*/
	}
	
	.header .section .see>img {
		float: left;
	}
	
	.header .section ol {
		position: absolute;
		bottom: 10px;
		left: 75px;
	}
	
	.header .section li {
		width: 20px;
		height: 15px;
		font-size: 10px;
		background: #3ED2B2;
		/*display: block;*/
		border: 1px solid #3ED2B2;
		border-radius: 10px;
		float: left;
		margin: 0 10px;
		text-align: center;
		line-height: 15px;
		cursor: pointer;
	}
	
	.header .section .arrow {
		position: absolute;
		top: 40%;
		width: 100%;
	}
	
	.header .section span {
		color: #3ED2B2;
		float: left;
		width: 25px;
		height: 40px;
		border-radius: 10%;
		font-size: 30px;
		background: rgba(255, 255, 255, 0.1);
		cursor: pointer;
	}
	
	.header .section .right {
		float: right;
	}
	/*轮播结束*/
	
	.header .header-two>img {
		position: relative;
		top: 360px;
		float: right;
		margin-left: 25px;
	}
	
	.container {
		position: relative;
	}
	
	.header .header-three {
		position: absolute;
		top: 950px;
	}
	
	.header .header-three>ul>li {
		float: left;
		width: 235px;
		height: 105px;
		background: #282A29;
		margin: 5px 5px;
		cursor: pointer;
		position: relative;
	}
	
	.header .header-three>ul>li:hover {
		box-shadow: 0px 0px 2px 5px #3ED2B2;
	}
	
	.header .header-three ol {
		font-size: 15px;
		position: relative;
		top: 10px;
		left: 20px;
	}
	
	.header .header-three .aa {
		font-size: 25px;
		color: #CFAE69;
	}
	
	.header .header-three .bb {
		width: 18px;
		height: 18px;
		background: url(../images/jingling/spr-h.png) no-repeat -798px -257px;
		margin-top: 5px;
	}
	
	.header .header-three p {
		width: 44px;
		height: 44px;
		background: url(../images/jingling/spr-h.png) no-repeat 0 -344px;
		position: absolute;
		top: 35%;
		right: 13%;
	}
	
	.header .header-three #aa {
		background-position: -254px -343px;
	}
	
	.header .header-three #bb {
		background-position: -510px -343px;
	}
	
	.header .header-three #cc {
		background-position: -766px -343px;
	}
	/*主体*/
	
	.main {
		width: 100%;
		height: 1717px;
		background: yellow;
	}
	/*全新内容精彩呈现*/
	
	.main-one {
		width: 100%;
		height: 514px;
		background: url(../images/bg2-20160419.jpg) no-repeat center;
	}
	
	.main>.main-one>ul {
		margin: 0 160px;
		padding-top: 20px;
	}
	
	.main>.main-one>ul>li {
		float: left;
		color: #3ED2B2;
		font-size: 40px;
		margin: 10px 10px;
	}
	
	.main>.main-one .aaa {
		color: #282A29;
	}
	
	.main>.main-one .main-one-aa {
		width: 1000px;
		height: 291px;
		background: url(../images/dragon.jpg) no-repeat 0 0;
		position: relative;
		top: 100px;
		left: 170px;
	}
	
	.main>.main-one .main-one-aa>ul {
		position: absolute;
		top: 0;
	}
	
	.main>.main-one .main-one-aa>ul>li {
		color: white;
		font-size: 25px;
		text-align: center;
		width: 196px;
		height: 287px;
		float: left;
		/*border: 1px solid red;*/
	}
	
	.main>.main-one .main-one-aa .ccc {
		width: 40px;
		height: 40px;
		font-size: 30px;
		margin: 40px 80px 30px 80px;
		border: 1px dashed white;
		border-radius: 10px;
	}
	
	.main>.main-one .main-one-aa .bbb {
		width: 80px;
		height: 20px;
		font-size: 14px;
		margin: 20px 55px;
		background: #CFAE69;
		border-radius: 10px;
		cursor: pointer;
	}
	
	.main>.main-one .main-one-aa>ul>li:hover {
		background: url(../images/jingling/gmk.png) no-repeat 0 0;
	}
	/*八荒门派*/
	
	.main-two {
		width: 100%;
		height: 603px;
		background: url(../images/bg-2.jpg) no-repeat center;
		position: relative;
	}
	
	.main>.main-two>ul {
		margin: 0 160px;
		padding-top: 20px;
	}
	
	.main>.main-two>ul>li {
		float: left;
		color: white;
		font-size: 40px;
		margin: 10px 10px;
	}
	
	.main>.main-two .aaa {
		color: #CFAE69;
	}
	.main>.main-two>ol{
		position: absolute;
		left: 170px;
		top: 130px;
	}
	.main>.main-two>ol>li{
		color: #CCCCCC;
		width: 400px;
		padding: 10px 0;
		
	}
	.main>.main-two .pic{
		position: absolute;
		top: 140px;
		left: 670px;
	}
	.main>.main-two img{
		width: 500px;
		height: 400px;
	}
	
	
	/*进入官网*/
	
	.main-three {
		width: 100%;
		height: 600px;
		background: url(../images/p-3.jpg) no-repeat center;
		background-size: 100% 100%;
		position: relative;
	}
	
	.main-three>.main-three-one {
		position: absolute;
		top: 80px;
		left: 160px;
	}
	
	.main-three>.main-three-one li {
		text-align: center;
		float: left;
		width: 500px;
		height: 140px;
		line-height: 140px;
		color: white;
		background: #3ED2B2;
		margin: 5px;
		font-size: 50px;
		cursor: pointer;
	}
	
	.main-three>.main-three-one p {
		width: 60px;
		height: 60px;
		background: url(../images/jingling/spr-c.png) no-repeat 0 0;
		position: absolute;
		top: 45px;
		left: 80px;
	}
	
	.main-three>.main-three-one i {
		width: 74px;
		height: 62px;
		background: url(../images/jingling/spr-c.png) no-repeat -94px 0;
		position: absolute;
		top: 45px;
		left: 580px;
	}
	
	.main-three>.main-three-two {
		position: absolute;
		top: 300px;
		left: 160px;
	}
	
	.main-three>.main-three-two li {
		width: 240px;
		height: 90px;
		background: #282A29;
		color: #ccc;
		float: left;
		/*border: 1px solid red;*/
		line-height: 90px;
		text-align: center;
		font-size: 22px;
		margin: 0 8px;
		cursor: pointer;
	}
	
	.main-three>.main-three-two li:hover {
		background: #707D8F;
	}