.main {
	width: 100%;
	height: 1500px;
	position: relative;
}

.main>.nav {
	position: absolute;
	top: 150px;
	left: 80px;
}
.main>h2{
	position: absolute;
	color: #0C8ED9;
	top: 80px;
	left: 20px;
} 
.main>.nav ol {
	color: purple;
	text-decoration: none;
	display: block;
	font-size: 30px;
	/*background: red;*/
	padding: 5px;
}

.main .didi {
	display: none;
}

.main .didi>li {
	border: 3px #CFAE69 solid;
	text-align: center;
	float: left;
	margin: 0 45px;
	width: 200px;
	height: 250px;
	line-height: 2em;
}
.main .didi img{
	width: 200px;
	height: 200px;
}
.main .didi p{
	color: red;
}